<link rel="stylesheet" href="{{url_for('static',filename='CSS/home_css.css')}}">
{% include 'nav_bar.html' %}
{% block content %}
<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.nps.org.au%2Fassets%2F_750x468_crop_center-center_75_none%2FGettyImages-862433964.jpg&imgrefurl=https%3A%2F%2Fwww.nps.org.au%2Fconsumers%2Fmedicines-and-brand-names-explained&tbnid=swY01yrAMYmdmM&vet=12ahUKEwjr0LXH7-P6AhVD_TgGHWL-Cl8QMygvegUIARDAAg..i&docid=o6IrOypGOfiaJM&w=750&h=468&q=MEDICINES&ved=2ahUKEwjr0LXH7-P6AhVD_TgGHWL-Cl8QMygvegUIARDAAg">
{% endblock %}