<html>
<head>
    <link  rel="stylesheet" href="{{url_for('static',filename='/CSS/singup_css.css')}}"/>
</head>

<body>

<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()" >Log in</button>

        </div>

        <form id="login" class="input-group"  action="http://127.0.0.1:5000/con"  method="POST">
            <input type="email" class="input-field" placeholder="user-email" required name="email"><br>
            <br>
            <input type="text" class="input-field" placeholder="password" required name="passw" ><br>
           <br>
<!--            <button type="s" class="submit-btn" >Log in</button>-->
            <input type="submit">
        </form>

    </div>
</div>


</body>

</html>